.brewery-main {
	min-height: calc(100vh - 100px);
	background-image: url('https://images.unsplash.com/photo-1574577456839-2c5208588f6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
	background-position: center center;
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.searchBar {
	width: 250px;
	height: 20px;
	padding: 10px;
	border: 2px solid darkblue;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
	opacity: 0.8;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	margin: 20px 10px;
	font-size: 20px;
}
.input-field button {
	height: 40px;
	width: 80px;
	border: 2px solid darkblue;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	opacity: 0.8;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	margin: 20px 10px;
	font-size: 16px;
}

.card-container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin: 20px 5px;
}
.brewery-list {
	width: 100%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 70px;
}

/* ######################## */
