.brewery-main {
	min-height: calc(100vh - 100px);
	background-image: url('brew-map.jpg');
	background-position: center center;
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.searchBar {
	width: 250px;
	height: 20px;
	padding: 10px;
	border: 2px solid darkblue;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 15px;
	opacity: 0.8;
	margin: 20px 10px;
	font-size: 20px;
	font-family: 'Courgette', cursive;
}

.input-field button {
	height: 40px;
	width: 80px;
	border: 2px solid darkblue;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	border-radius: 10px;
	opacity: 0.8;
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
	font-size: 16px;
	font-family: 'Piedra', cursive;
}

.card-container {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin: 20px 5px;
}
.brewery-list {
	width: 100%;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 70px;
}

@media screen and (max-width: 640px) {
	.searchBar {
		width: 200px;
		height: 16px;
		padding: 8px;
		margin: 20px 5px;
		font-size: 20px;
	}
	.input-field button {
		height: 30px;
		margin-bottom: 10px;
		width: 55px;
		margin: 20px 5px;
		font-size: 12px;
		font-family: 'Piedra', cursive;
	}
	.card-container {
		transform: scale(0.85);
	}
}
