* {
	/* border: 1px solid red; */
}
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}
.centerContainer {
	min-height: calc(100vh - 160px);
}

.App {
	text-align: center;
}
