.location-icon {
	font-size: 35px;
	color: rgb(235, 2, 2);
}
.map {
	width: 100vw;
	height: calc(100vh - 140px);
	position: relative;
}
@media screen and (max-width: 768px) {
	.map {
		height: 100vh;
	}
}
