.about {
	background-image: url('beer-selection.jpeg');
	background-position: center center;
	min-height: calc(100vh - 140px);
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
@keyframes myfirst {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}
