.home {
	background-image: url('home-bg.jpg');
	background-position-y: 100%;
	background-position-x: center;
	min-height: calc(100vh - 140px);
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-container {
	background: rgba(60, 60, 60, 0.6);
	width: 600px;
	height: 280px;
	border-radius: 30px;
	margin: 2% auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 3px;
}

.welcome {
	font-family: 'Piedra', cursive;
	color: #f4bb6a;
	font-size: 42px;
	line-height: normal;
	margin: 20px auto;
}
.home-hops {
	width: 50%;
}

@media screen and (max-width: 768px) {
	.toast {
		position: relative;
		margin: 150px auto;
	}
}
