.home {
	background-image: url('home-bg.jpg');
	background-position-y: 100%;
	background-position-x: center;
	min-height: calc(100vh - 140px);
	min-width: 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.welcome-container {
	background: rgba(60, 60, 60, 0.65);
	width: 600px;
	height: 280px;
	border-radius: 30px;
	margin: 75px auto;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 3px;
}

.welcome {
	font-family: 'Courgette', cursive;
	color: #f4bb6a;
	font-size: 42px;
	margin: 20px auto;
}
.home-hops {
	width: 650px;
}

@media screen and (max-width: 768px) {
	.welcome-container {
		width: 70%;
		height: 240px;
	}

	.home-hops {
		width: 70%;
	}

	.welcome {
		font-size: 32px;
		margin: 15px auto;
	}
}

@media screen and (max-width: 480px) {
	.welcome-container {
		width: 90%;
		height: 160px;
	}

	.home-hops {
		width: 70%;
	}

	.welcome {
		font-size: 25px;
		margin: 8px auto;
	}
}
