* {
	/* border: 1px solid red; */
}
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* height: 100%; */
}
.centerContainer {
	min-height: calc(100vh - 160px);
}
.home-logo {
	height: 50px;
	width: 55px;
}
.map {
	width: 100vw;
	height: calc(100vh - 140px);
	position: relative;
}
.location-icon {
	font-size: 35px;
}

.App {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.centerContainer {
		min-height: calc(100vh - 100px);
	}
}
