@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* cursive */
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
/* navlinks */
* {
	/* border: 1px solid red; */
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* height: 100%; */
}

.App {
	text-align: center;
}

.centerContainer {
	min-height: calc(100vh - 160px);
}

.home-logo {
	height: 50px;
	width: 65px;
	padding-top: 20px;
}

.nav-link:hover {
	background-color: #1888ff;
	color: white;
	border-radius: 4px;
	transition: all 0.2s ease-out;
	text-decoration: none;
}

.home-logo {
	height: 55px;
	width: 70px;
	padding-top: 20px;
}
#home {
	height: 50px;
	width: 45px;
	padding-right: 20px;
	padding-left: 0px;
}
.tab-name {
	font-size: 22px;
	font-family: 'Piedra', cursive;
}

@media screen and (max-width: 768px) {
	.centerContainer {
		min-height: calc(100vh - 100px);
	}
	.home-logo {
		display: relative;
		position: absolute;
		left: 44%;
	}
}
